<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <h1>Secondhandsidan</h1>
<hr>
  <h2> Kläder i butiken </h2>
<hr>

<ul>
  <% @clothing.each do |cloth| %>
    <li>
      <a href="/clothing/<%= cloth["id"]%>">
			  <%= cloth["name"] %>
		  </a>
 <form class="delete" action="/clothing/<%=cloth["id"]%>/delete" method="post">
    <input type="submit" value="Ta bort">
   

  </form>
    </li>


</form>
  <% end %>
</ul>
   <h2>Sälj ett plagg!</h2>

</body>
</html>
